$gutter : 12;
$header-height : 50;
$filter-width : 300;
$filter-width-min : 130;
$favorite-width : 410;
$favorite-width-min : 150;
$map-popover-height : 200;
$map-popover-width  : 412;
$table-row-height : 130;